<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">EkezaKenya</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-item dropdown">
          <!--<a class="nav-link dropdown-toggle" href="investor" id="navbarDropdown" data-toggle="dropdown">-->
            <a class="nav-link" href="investor">
            Invest
          </a>
          <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Venture Capitalists</a>
            <a class="dropdown-item" href="#">Angel Investors</a>
            <a class="dropdown-item" href="#">Accelerators & Incubators</a>
            <a class="dropdown-item" href="#">Corporate Investors</a>
            <a class="dropdown-item" href="#">Peer-To-Peer</a>
          </div>-->
        </li>
        <li class="nav-item dropdown">
          <!--<a class="nav-link dropdown-toggle" href="entrepreneur" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
          <a class="nav-link" href="entrepreneur"> 
            Get Funding
          </a>
          <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Agribusiness</a>
            <a class="dropdown-item" href="#">Entertainment</a>
            <a class="dropdown-item" href="#">Fashion</a>
            <a class="dropdown-item" href="#">Food and Beverages</a>
            <a class="dropdown-item" href="#">Supply chain & logistics</a>
          </div>-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="signup">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
        <!--<a href="dashboard">
          <form action="/logout" method="post">
            <button type="submit" name="button">Logout</button>
          </form>
        </a>
      </ul>-->
        <!--<div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>-->
    </div>
  </div>
</nav>
