<div class="form-container sign-in-container">
  <form id="userlogin" action="/auth/login" method="post">
    <h1>Sign in</h1>
    <div class="social-container">
      <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
      <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <span>or use your account</span>
    <div>
      <input class="input-control" type="email" placeholder="Email" />
      <input class="input-control" type="password" placeholder="Password" />
    </div>
    <div class="check-control" id="check-In">
      <input id="check" type="checkbox" name="" value="" />
      <label for="check" class="checklabel">Remember me.</label>
    </div>
    <a id="forgot" href="#">Forgot your password?</a>
    <button>Sign In</button>
  </form>
</div>
