<div class="form-container sign-up-container">

    <h1 style="padding: 0px 50px;
      text-align: center;">Register</h1>
    <div class="signup-category">
      <div class="selected entrepreneur-grid">
        Entrepreneur
      </div>
      <div class="investor-grid">
        Investor
      </div>

  </div>
    <form class="show" id="entrepreneurSignup" action="/auth/signup" method="post">
    <div class="social-container">
      <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
      <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <span>or use your email for registration ent</span>
    <div>
      {{#if message}}
      <h4 class='alert alert-danger mt-4'>{{message}}</h4>
      {{/if}}
      <div class="name-control">
        <input class="firstName" class="input-control" type="text" name="efirstName" placeholder="First Name">
        <input class="lastName" class="input-control" type="text" name="elastName" placeholder="Last Name">
      </div>
      <input class="input-control" type="email" name="eemail" placeholder="Email">
      <input class="input-control" type="password" name="epassword" placeholder="Password">
      <input type="password" class="form-control" name="econfirmPassword" placeholder="Confirm Password" required>
    </div>
    <div class="check-control" id="check-Up">
      <input type="checkbox" name="" value="" />
      <label class="checklabel">I Agree to the <a href="#">Terms &amp; Conditions</a>.</label>
    </div>
    <button>Sign Up</button>
  </form>

    <form id="investorSignup" action="/auth/signup" method="post">
    <div class="social-container">
      <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
      <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <span>or use your email for registration</span>
    <div>
      {{#if message}}
      <h4 class='alert alert-danger mt-4'>{{message}}</h4>
      {{/if}}
      <div class="name-control">
        <input class="firstName" class="input-control" type="text" name="ifirstName" placeholder="First Name">
        <input class="lastName" class="input-control" type="text" name="ilastName" placeholder="Last Name">
      </div>
      <input class="input-control" type="email" name="iemail" placeholder="Email">
      <input class="input-control" type="password" name="ipassword" placeholder="Password">
      <input type="password" class="form-control" name="iconfirmPassword" placeholder="Confirm Password" required>
    </div>
    <div class="check-control" id="check-Up">
      <input type="checkbox" name="" value="" />
      <label class="checklabel">I Agree to the <a href="#">Terms &amp; Conditions</a>.</label>
    </div>
    <button>Sign Up</button>
  </form>
</div>

