<header class="intro">
  {{> header }}

  <div class="investor-header nav-anime">
    <img src="/img/workdream.jpg" alt="">
  </div>
</header>

<section class="investor-quote">
  <i class="fa fa-quote-left" aria-hidden="true"></i><br>
  <h3>Don’t try to do everything by yourself, but try to connect with people and resources. Having that discipline and perseverance is really important.</h3><br>
    <i class="fa fa-quote-right" aria-hidden="true"></i><br>
    <h4> - Chieu Cao, Co-founder of Perkbox</h4>

</section>
<div class="category-content">
  <div class="row-one">
    <div class="grid-one-one">
      <div class="card" >
        <img src="/img/agri.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Agribusiness</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#">View More</a>
        </div>
      </div>
    </div>
    <div class="grid-one-two">
      <div class="card" >
        <img src="/img/entertainment.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Entertainment</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#">View More</a>
        </div>
      </div>
    </div>
    <div class="grid-one-three">
      <div class="card" >
        <img src="/img/fashion.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Fashion</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#">View More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row-two">
    <div class="grid-two-one">
      <div class="card" >
        <img src="/img/f&b.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Food &amp; Beverage</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#">View More</a>
        </div>
      </div>
    </div>
    <div class="grid-two-two">
      <div class="card" >
        <img src="/img/logistics.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Supply &amp; logistics</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#">View More</a>
        </div>
      </div>
    </div>
    <div class="grid-two-three">
      <div class="card" >
        <img src="/img/desk7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4></h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#">View More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="section-three">
  <h2 class="animate__animated animate__fadeInDown" style="animation-delay: 1s;"><span>JOIN OUR EVER GROWING COMMUNITY OF BUSINESS GURUS.</span><br>
    "In investing, what is comfortable is rarely profitable." - Robert Arnott
At times, you will have to step out of your comfort zone to realize significant gains. Know the boundaries of your comfort zone and practice stepping out of it in small doses. As much as you need to know the market, you need to know yourself too. Can you handle staying in when everyone else is jumping ship? Or getting out during the biggest rally of the century? There's no room for pride in this kind of self-analysis. The best investment strategy can turn into the worst if you don't have the stomach to see it through.
  </h2>
  <p class="animate__animated animate__fadeInUp" style="animation-delay: 2s;"></p>
  <div class="section-three-video-container">
    <div class="section-three-color-overlay"></div>
    <video style="max-width: 100%; height: auto; object-fit: fill;" autoplay loop muted>
      <source src="/videos/deal1.mp4" type="video/mp4">
    </video>
  </div>
</div>-->

{{> footer }}
