<header class="intro">
  {{> header }}

  <div class="investor-header nav-anime">
    <img src="/img/invword.jpg" alt="">
  </div>
</header>

<section class="investor-quote">
  <i class="fa fa-quote-left" aria-hidden="true"></i><br>
  <h3>It's not how much money you make, but how much money you keep, how hard it works for you, and how many generations you keep it for.</h3><br>
    <i class="fa fa-quote-right" aria-hidden="true"></i><br>
    <h4> - Robert Kiyosaki</h4>

</section>
<div class="category-content">
  <div class="row-one">
    <div class="grid-one-one">
      <div class="card" >
        <img src="/img/venture1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Venture Capitalist</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#">View More</a>
        </div>
      </div>
    </div>
    <div class="grid-one-two">
      <div class="card" >
        <img src="/img/angel.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Angel Investors</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#">View More</a>
        </div>
      </div>
    </div>
    <div class="grid-one-three">
      <div class="card" >
        <img src="/img/accelerator.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Accelerators & Incubators</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#">View More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row-two">
    <div class="grid-two-one">
      <div class="card" >
        <img src="/img/corporate.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Corporate Investors</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#">View More</a>
        </div>
      </div>
    </div>
    <div class="grid-two-two">
      <div class="card" >
        <img src="/img/p2p.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Peer-to-peer</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#">View More</a>
        </div>
      </div>
    </div>
    <div class="grid-two-three">
      <div class="card" >
        <img src="/img/desk7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4></h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#">View More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="section-three">
  <h2 class="animate__animated animate__fadeInDown" style="animation-delay: 1s;"><span>JOIN OUR EVER GROWING COMMUNITY OF BUSINESS GURUS.</span><br>
    "In investing, what is comfortable is rarely profitable." - Robert Arnott
At times, you will have to step out of your comfort zone to realize significant gains. Know the boundaries of your comfort zone and practice stepping out of it in small doses. As much as you need to know the market, you need to know yourself too. Can you handle staying in when everyone else is jumping ship? Or getting out during the biggest rally of the century? There's no room for pride in this kind of self-analysis. The best investment strategy can turn into the worst if you don't have the stomach to see it through.
  </h2>
  <p class="animate__animated animate__fadeInUp" style="animation-delay: 2s;"></p>
  <div class="section-three-video-container">
    <div class="section-three-color-overlay"></div>
    <video style="max-width: 100%; height: auto; object-fit: fill;" autoplay loop muted>
      <source src="/videos/deal1.mp4" type="video/mp4">
    </video>
  </div>
</div>-->
{{> footer }}
