<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/signup.css">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  <!--<script src="js/account.js"></script>-->
  <title></title>
</head>

<body>
  <div class="container" id="container">
    <div class="form-container sign-up-container">

        <h1 style="padding: 0px 50px;
          text-align: center;">Register</h1>
        <div class="signup-category">
          <div class="selected entrepreneur-grid">
            Entrepreneur
          </div>
          <div class="investor-grid">
            Investor
          </div>

      </div>
        <form class="show" id="entrepreneurSignup" action="/auth/signup" method="post">
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registration ent</span>
        <div>
          <div class="name-control">
            <input id="firstName" class="input-control" type="text" name="firstName" placeholder="First Name">
            <input id="lastName" class="input-control" type="text" name="lastName" placeholder="Last Name">
          </div>
          <input class="input-control" type="email" name="email" placeholder="Email">
          <input class="input-control" type="password" name="password" placeholder="Password">
          <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" required>
        </div>
        <div class="check-control" id="check-Up">
          <input type="checkbox" name="" value="" />
          <label class="checklabel">I Agree to the <a href="#">Terms & Conditions</a>.</label>
        </div>
        <button>Sign Up</button>
      </form>
        <form id="investorSignup" action="/auth/signup" method="post">
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registration</span>
        <div>
          <div class="name-control">
            <input id="firstName" class="input-control" type="text" name="firstName" placeholder="First Name">
            <input id="lastName" class="input-control" type="text" name="lastName" placeholder="Last Name">
          </div>
          <input class="input-control" type="email" name="email" placeholder="Email">
          <input class="input-control" type="password" name="password" placeholder="Password">
          <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" required>
        </div>
        <div class="check-control" id="check-Up">
          <input type="checkbox" name="" value="" />
          <label class="checklabel">I Agree to the <a href="#">Terms & Conditions</a>.</label>
        </div>
        <button>Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form id="userlogin"action="/auth/login" method="post">
        <h1>Sign in</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span>
        <div>
          <input class="input-control" type="email" placeholder="Email" />
          <input class="input-control" type="password" placeholder="Password" />
        </div>
        <div class="check-control" id="check-In">
          <input id="check" type="checkbox" name="" value="" />
          <label for="check" class="checklabel">Remember me.</label>
        </div>
        <a id="forgot" href="#">Forgot your password?</a>
        <button>Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>
            To stay connected with us please login with your personal info.
          </p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello!</h1>
          <p>Register with us as an <span id="boldtext">Entrepreneur</span> or an <span id="boldtext">Investor</span> and start your journey.</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
      container.classList.add('right-panel-active');
    });

    signInButton.addEventListener('click', () => {
      container.classList.remove('right-panel-active');
    });

    const entrepreneurBtn = document.querySelector('.entrepreneur-grid');
    const investorBtn = document.querySelector('.investor-grid');

    const entrepreneurSection = document.querySelector('#entrepreneurSignup');
    const investorSection = document.querySelector('#investorSignup');

    entrepreneurBtn.addEventListener('click', () => {
      entrepreneurBtn.classList.add('selected');
      investorBtn.classList.remove('selected');
      entrepreneurSection.classList.add('show');
      investorSection.classList.remove('show');
    });

    investorBtn.addEventListener('click', () => {
      entrepreneurBtn.classList.remove('selected');
      investorBtn.classList.add('selected');
      entrepreneurSection.classList.remove('show');
      investorSection.classList.add('show');
    });
  </script>
</body>

</html>
